<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Rachel Prows</title>
	<link rel="stylesheet" href="assets/stylesheets/main.css">
	<link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500' rel='stylesheet' type='text/css'>

</head>

<body>
	
	<!-- Header -->

<header class="container group">
	<section class="container">
		<img src="/images/seattle.jpg" alt="Rachel Prows">
		<img src="/images/rachel2.jpg" alt="Rachel Prows">
		<img src="/images/peru.jpg" alt="Rachel Prows">
	</section>
</header>

	<!-- Hero -->

<section class="hero container">
	<h1>About Me</h1>
	<hr />
	<p>A born and raised Chicagoan, avid reader, dog enthusiast, and pop-culture junky with a chronic case of wanderlust. </p>
	<hr />
</section>

<!-- Teasers-->

<section class="row">
	<div class="grid">


	<!-- Education -->

	<section class="col-1-3">
		<h5>Education</h5>
		<p>I began my studies as a Secondary Education major with a focus on History at the University of Utah. After getting married and taking some time off to work, I returned to school and earned my B.A. in History from Utah Valley University.</p>
	</section><!--

	Web Development

	--><section class="col-1-3">
		<h5>Why Web Development?</h5>
		<p>Long story short, I want a career that I can sink my teeth in to and not just another job. I am a firm believer that learning shouldn't stop when school does. I find fulfillment in learning new skills and concepts. As web development is a constantly changing and growing industry, I know I can count on continual learning and growth. In addition, I love the juxtaposition of technical skills and creativity that exists in web development.</p>
	</section><!--

	Hobbies

	--><section class="col-1-3">
		<h5>Hobbies</h5>
		<p>I love spending time in the mountains; skiing in the winter and hiking in the summer. On the flip side, I am a true city girl at heart and love what urban life has to offer; local restaurants, concerts, professional sports, and theater. Cooking, music, and hanging out with my family are big parts of my life as well.</p>
	</section>
	
	</div>
</section>		

	<!-- Footer -->



</body>
</html>