<html>
	<head>
		<title>About Me</title>
		<link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
	</head>
	<body>
		<div class="name">
		<h3>Rachel Prows</h3>
		<%= yield %>
		</div>
	</body>
	
	<footer class="primary-footer container group">
		<nav class="nav">
			<a href='/'>Home</a>
			<a href='/resume'>Resume</a>
			<a href='/contact'>Contact</a>
			<a href="https://www.facebook.com/rachel.c.prows">Facebook</a>
			<a href="https://www.linkedin.com/in/rachelprows">LinkedIn</a>
			<a href="https://www.pinterest.com/rkp3/">Pinterest</a>
		</nav>
	</footer>
</html>